<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona para www se não estiver presente
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

    # Verifica se o arquivo ou diretório existe diretamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redireciona todas as outras requisições para a pasta public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
